<ng-container *ngIf="(notesDisplayModel$ | async) && (notesDisplayModel$ | async).hasData">
    <ng-container *ngFor="let day of (notesDisplayModel$ | async).days">
        <mat-card>
            <mat-card-header>
                {{day.dayName}}
            </mat-card-header>
            <mat-card-content>
                <app-work-time-note-item *ngFor="let item of day.items" [item]="item"></app-work-time-note-item>
            </mat-card-content>
        </mat-card>
    </ng-container>
</ng-container>
