:host {
    // outline: 1px solid red;
    overflow-y: scroll;
    display: grid;
    gap: 40px;
    // height: 100%;
}

mat-card {
    border-left: 3px solid #843939;
    padding: 0;
    // min-height: 200px;
}

mat-card-header {
    border-bottom: 2px solid white;
    padding: 20px 20px 0 20px;
    letter-spacing: 8px;

}

mat-card-content {
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
