:host {
    height: 100vh;
    display: grid;
    grid-template-rows: 64px 1fr 36px;
    gap: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    height: calc(100vh - 100px - 40px);
    overflow-y: scroll;
    justify-self: center;

    // no scrollbar visible
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

// no scrollbar visible
main::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

app-add-edit-work-time-note-entity {
    margin: 20px;
}

app-work-time-note-list {
    margin: 20px;
}
