<app-topbar></app-topbar>
<main>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login to your account</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form (ngSubmit)="loginFormSubmit()" [formGroup]="loginForm">
                <mat-form-field appearance="standard">
                    <mat-label>Email</mat-label>
                    <input matInput required type="email" placeholder="" formControlName="email">
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">Field email is required!</mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Password</mat-label>
                    <input matInput required type="password" placeholder="" formControlName="password">
                    <mat-error *ngIf="loginForm.get('password').hasError('required')">Field password is required!</mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="primary" (click)="loginBtnClick()" id="sign-in-btn">Sign in</button>
            <button mat-stroked-button color="accent" routerLink="/register" id="register-new-account-btn">or add new account</button>
        </mat-card-actions>
    </mat-card>
</main>
<app-footer></app-footer>
