:host {
    height: 70vh;
    display: grid;
    align-items: center;
    justify-content: space-around;
}

mat-card {
    max-width: 600px;
    margin: 0 10px;
}


form {
    display: grid;
    width: auto;
}

