:host {
    height: 100vh;
    display: grid;
    // grid-template-rows: 3fr 20fr 1fr;
    grid-template-rows: repeat(20, 1fr);
}

main {
    // height: 100vh;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-row-start: 5;
}

mat-card {
    max-width: 400px;
    margin: 0 10px;
}

mat-card-content {
    width: 100%;
}


form {
    margin: 0 10px;
    display: grid;
    grid-template-columns: minmax(auto, 100vw);
}

app-topbar {
    grid-row-start: 1;
    // grid-row: 1/3;
}

app-footer {
    grid-row-start: -2;
}

