:host {
    height: 100vh;
    display: grid;
    // grid-template-rows: 3fr 20fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
}

main {
    display: grid;
    align-items: center;
    justify-content: space-around;
    // height: 0;
    // grid-row-start: 5 /;
    // overflow-y: scroll;
}

mat-card {
    max-width: 400px;
    margin: 0 10px;
}

mat-card-content {
    width: 100%;
}


form {
    margin: 0 10px;
    display: grid;
    grid-template-columns: minmax(auto, 100vw);
}

button {
    margin: 0 !important;
}

mat-card-actions, .buttons {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

app-topbar {
    // grid-row-start: 1;
    // grid-row: 1/3;
}

app-footer {
    // grid-row: -1;
}

