mat-toolbar-row {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.logo {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 10px;
    text-decoration: underline;
    text-underline-offset: from-font;
    user-select: none;
}
