:host {
    display: grid;
    grid-template-columns: 100%;
}

mat-card {
    background-color: azure;
    color: black;
}

.url:hover {
    cursor: pointer;
}

.hours {
    font-size: 18px;
}

.type {
    font-size: 9px;
    height: 11px;
}

.description {
    margin-top: 5px;
    font-size: 11px;
    line-height: 12px;
}

.url {
    font-size: 9px;
}

small {
    font-size: 9px;
}

.dots {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.copy {
    position: absolute;
    right: 10px;
    opacity: 0.3;
    cursor: pointer;
    user-select: none;
}

.copy:active {
    transform: translate(1px, 1px);
}

.copy-icon {
    font-size: 14px;
}

.copy:hover {
    .copy-icon {
        font-size: 18px;
    }
}

.copy:hover {
    opacity: 1;
}

::ng-deep .tooltip {
    position: relative;
    top: 10px;
    padding: 0;
}
