:host {
    display: grid;
    grid-template-columns: 100%;
}

mat-card {
    background-color: azure;
    color: black;
}

mat-card:hover {
    cursor: pointer;
}

.hours {
    font-size: 18px;
}

.type {
    font-size: 9px;
    height: 11px;
}

.description {
    margin-top: 5px;
    font-size: 11px;
    line-height: 12px;
}

.url {
    font-size: 9px;
}

small {
    font-size: 9px;
}

.dots {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
